
{{> gallery}}

<!--Preloader - [Eric] -->
	<div id="introWrap" data-skip-Intro={{skipIntro}}>
	  <div class="loadWrap">
		<img class="loadLogo" src="/media/sunlogo_animated.svg" alt="Logo animation courtesy of Vivus" />
		<p class="loadLabel">Loading..</p>

		<img class="planeAnimation" src="/media/Plane.png" alt="" />

		<div class="loadRevealer revealTop" ></div>                    
		<div class="loadRevealer revealBottom" ></div>

		<img class="introSplash" src="/media/splash/splash{{introSplashNumber}}.jpg" alt="" />
		<h1 class="introText">Live. Your Way</h1>
	  </div>
	</div>   


	<div class="header">
	  <div class="info">
		  <h4>AN INTERNATIONAL TRAVEL AGENCY</h4>
		  <h1>WELCOME TO TRAVEL EXPERTS</h1>
	  </div>
	</div>

	{{> navbar}}

	<!-- Blurb [Eric] -->
	<section class="content intro"> 
	  <h2>The world is bigger than the maps would tell you.</h2>
	  <br>
	  <p>
		For over 30 years, <i>Travel Experts</i> has been a trusted source of unparalleled vacation experiences, 
		both for the Calgarians of our home city and Canadians across the nation. 
	  </p>
	  <p>
		Our packages are thoughtfully crafted for every kind of traveller — lovers of nightlife or wildlife, thrill or tranquility, 
		soul searching or family fun.
	  </p>
	  <p>
		 The memories of a lifetime are waiting. Let us be your guide.
	  </p>

	  <h4>Here are some amazing sights our clients have witnessed. Check out our Packages page for a list of current trips.</h4>
	</section>
	

	<!-- Gallery Section [Susan] - [Eric] reorg'd layout for responsivenesss-->
	<section class="content gallery-wrap firstGallery">

	  <div class="gallery">
		<div class="img-w">
		  <img src="/media/NYC.jpg" alt="" />
		</div>
		<div class="img-w">
		  <img src="/media/Ice.jpg" alt="" />
		</div>
	  </div>

	  <div class="gallery">
		<div class="img-w">
		  <img src="/media/Moab.jpg" alt="" />
		</div>
		<div class="img-w">
		  <img src="/media/Water.jpg" alt="" />
		</div>
	  </div>

	</section>

	<section class="content gallery-wrap">

	  <div class="gallery">
		<div class="img-w">
		  <img src="/media/Lanterns.jpg" alt="" />
		</div>
		<div class="img-w">
		  <img src="/media/Island.jpg" alt="" />
		</div>
	  </div>

	  <div class="gallery">
		<div class="img-w">
		  <img src="/media/Italy.jpg" alt="" />
		</div>
		<div class="img-w">
		  <img src="/media/Vietnam.jpg" alt="" />
		</div>
	  </div>

	</section>   

	<br/>
	<br/>

<!-- Main scripts for the loader - put at the end so the transition only fires once everything above it has loaded -->
<script src="/js/indexLoader.js"></script>

