<link rel="stylesheet" href='/css/order.css'>
{{>jumbotron}}
<!-- Navbar -->
{{>navbar}}
<div class="container">
    <!--Elements within transparent box -->
    <div class="orderBox">
        <form method="POST" action="orderPOST" class="needs-validation" novalidate> 
        
        <h1><i> Thank You For Your Order</i> </h1>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4> Package Name:</h4>
                </div>
                <div class="col-sm">
                    <p>{{PkgName}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h4>Order Date: </h4>
                </div>
                <div class="col-sm">
                    <p>{{date}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h4>Price:</h4>
                </div>
                <div class="col-sm">
                    <p>${{PkgBasePrice}}.00</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h4>Description:</h4>
                </div>
                <div class="col-sm">
                    <p>{{PkgDesc}}</p>
                </div>
            </div>

        </div>

        <hr />
        <div class="Summary">
            <h4> A conformation email will be sent to {the registered email} shortly</h4>
            <p> If the information above is correct please proceed to checkout!</p>
        </div>
            <input class="btn btn-info"type="submit"value="Checkout"/>
        </form>
    </div>
</div>
</div>