<link rel="stylesheet" href="/css/style5.css">
	
{{> jumbotron}}

{{#if loggedIn}} {{> navbarLoggedIn}} {{else}} {{> navbar}}{{/if}}

<div class="container">
	<div class="thankYou">	
		<h4 class="text-center">Thank you for your purchase.</h4>
		<p class="text-center">We hope you have an experience of a lifetime, and we hope to see you soon.</p>
		<p class="text-center">Please check your inbox for a confirmation email.</p>
		<a href="/?skipIntro=true" class="btn btn-info">HOME</a>
	</div>		
</div>
