
	<!--link rel="stylesheet" href="css/reset.css" --> <!-- reset removed by bob-->
	<link rel="stylesheet" href="css/packages.css">
    
    {{> jumbotron}}
	
	{{> navbar}}

    <div class="packages-outer-grid">

        <!-- Package starts here -->
        <div class="package-grid">

            <div class="package-image" style="background-image: url('/media/lampfoot.jpg'); background-position: center; background-size: 500px;"></div>

            <div class="package-details-grid">
                <div class="package-name">
                    Package Name
                </div>
                <div class="package-desc">
                    Description of this incredible dreamlike getaway.
                </div>
                <div class="package-dates">
                    January 3, 2021 - January 17, 2021
                </div>
                <div class="package-price">
                    Price: $1000
                </div>
                <button>Order</button>
            </div>

        </div>
        <!-- Package ends here -->

        <div class="package-grid">
            <div class="package-image" style="background-image: url('/media/sunset1.jpg'); background-position: center; background-size: 700px;"></div>

            <div class="package-details-grid">
                <div class="package-name">
                    Package Name
                </div>
                <div class="package-desc">
                    Description of this incredible dreamlike getaway.
                </div>
                <div class="package-dates">
                    January 3, 2021 - January 17, 2021
                </div>
                <div class="package-price">
                    Price: $1000
                </div>
                <button>Order</button>
            </div>
        </div>

        <div class="package-grid">
            <div class="package-image" style="background-image: url('/media/safari.jpg'); background-position: center; background-size: 450px;"></div>

            <div class="package-details-grid">
                <div class="package-name">
                    Package Name
                </div>
                <div class="package-desc">
                    Description of this incredible dreamlike getaway.
                </div>
                <div class="package-dates">
                    January 3, 2021 - January 17, 2021
                </div>
                <div class="package-price">
                    Price: $1000
                </div>
                <button>Order</button>
            </div>
        </div>

        <div class="package-grid">
            <div class="package-image" style="background-image: url('/media/beach1.jpg'); background-position: center; background-size: 700px;"></div>

            <div class="package-details-grid">
                <div class="package-name">
                    Package Name
                </div>
                <div class="package-desc">
                    Description of this incredible dreamlike getaway.
                </div>
                <div class="package-dates">
                    January 3, 2021 - January 17, 2021
                </div>
                <div class="package-price">
                    Price: $1000
                </div>
                <button>Order</button>
            </div>
        </div>

        <div class="package-grid">
            <div class="package-image" style="background-image: url('/media/iceland.jpg'); background-position: center; background-size: 700px;"></div>

            <div class="package-details-grid">
                <div class="package-name">
                    Package Name
                </div>
                <div class="package-desc">
                    Description of this incredible dreamlike getaway.
                </div>
                <div class="package-dates">
                    January 3, 2021 - January 17, 2021
                </div>
                <div class="package-price">
                    Price: $1000
                </div>
                <button>Order</button>
            </div>
        </div>

        <div class="package-grid">
            <div class="package-image" style="background-image: url('/media/beach2.jpg'); background-position: center; background-size: 700px;"></div>

            <div class="package-details-grid">
                <div class="package-name">
                    Package Name
                </div>
                <div class="package-desc">
                    Description of this incredible dreamlike getaway.
                </div>
                <div class="package-dates">
                    January 3, 2021 - January 17, 2021
                </div>
                <div class="package-price">
                    Price: $1000
                </div>
                <button>Order</button>
            </div>
        </div>

    </div> <!-- End outer package outer grid-->
