<link rel="stylesheet" href="/css/style4.css">
	
{{> jumbotron}}

{{> navbar}}

<div class="container">
	<div class="thankYou">	
		<h4 class="text-center">Hi {{CustFirstName}}</h4>
		<p class="text-center">Thank you for registering with Travel Experts.</p>
		<p class="text-center">Here at Travel Experts we pride ourselves on providing our clients with the best vacation experience.</p>
		<p class="text-center">Our competitive pricing along with outstanding customer service ensures a streamlined process to get you to the destination of your dreams!</p>
		<p class="text-center">Please check your inbox for a confirmation email.</p>
		<a href="/" class="btn btn-info">HOME</a>
	</div>		
</div>
