{{!-- Content, style, and validation by [Susan]
[Eric] added little phone formatting function--}}
<body>
	
	<link rel="stylesheet" href="css/style2.css">

	{{> jumbotron}}

	{{#if loggedIn}} {{> navbarLoggedIn}} {{else}} {{> navbar}}{{/if}}

  
<br/><br/>

<div class="container">
	<div class="registrationForm">	
		<form method="POST" action="registerPOST" class="needs-validation" novalidate>
			<h4 class="text-center">Registration Form</h4>
				<div class="form-row ">
	    			<div class="col-sm-6 ">
						<label for="firstName">First Name:</label><br/>
						<input class="form-control" type="text" name="firstName" id="firstName" required="required" placeholder="First Name">
						<div class="invalid-feedback">Please enter your first name</div><br/>
					</div>	
					<div class="col-sm-6 ">
						<label for="lastName">Last Name:</label><br/>
						<input class="form-control" type="text" name="lastName" id="lastName" required="required" placeholder="Last Name">
						<div class="invalid-feedback">Please enter your last name</div>
					</div>
				</div>
				<div class="form-row ">
	    			<div class="col-sm-6 mb-3">
						{{!-- Note that when impleneting this prototype, we would add a validation that pulls the db for all current users,
						and ensures that the inputted one is unique. --}}
						<label for="userName">Username:</label>
						<div class="input-group">
						<div class="input-group-prepend">
	          				<span class="input-group-text" id="inputGroupPrepend">@</span>
	        			</div>
						<input class="form-control" type="text" name="userName" id="userName" required="required" placeholder="Username">
						<div class="invalid-feedback">Please enter a username</div>
						<br/>
						</div>	
					</div>
					<div class="col-sm-6 mb-3">
						<label for="pwd">Password:</label><br/>
						<input class="form-control" type="password" name="pwd" id="pwd" required="required" placeholder="Password">
						<div class="invalid-feedback">Please enter a password</div>
					</div>	
				</div>	

				<div class="form-row">	
	    			<div class="col-sm-6">
						<label for="email">Email:</label><br/>
						<input class="form-control" type="text" name="email" id="email" required="required" placeholder="Email" onchange="checkEmail(this)">
						<div class="invalid-feedback">Please enter your email</div>
						<br/>
					</div>	
					<div class="col-sm-6">
						<label for="email">Phone Number:</label><br/>
						<input class="form-control" type="tel" name="pNumber" id="pNumber" required="required" placeholder="Phone Number" onchange="checkNumber(this)">
						<div class="invalid-feedback">Please enter your phone number</div>
						<br/>
						<script src="js/phoneFormatter.js"></script>
					</div>
				</div>	
				<div class="form-row ">
	    			<div class="col-sm-6 mb-3">
						<label for="address">Address:</label>
						<input class="form-control" type="text" name="address" id="address" required="required" placeholder="Address">
						<div class="invalid-feedback">Please enter your address</div><br/>	
					</div>
					<div class="col-sm-6 mb-3">
						<label for="city">City:</label><br/>
						<input class="form-control" type="text" name="city" id="city" required="required" placeholder="City">
						<div class="invalid-feedback">Please enter your city</div>
					</div>
					<div class="col-sm-6 mb-3">
						<label for="prov">Province</label>
					    <select class="form-control" name="prov" id="prov" required="required">
					      <option>AB</option>
					      <option>BC</option>
					      <option>MB</option>
					      <option>NB</option>
					      <option>NL</option>
					      <option>NS</option>
					      <option>NT</option>
					      <option>NU</option>
					      <option>ON</option>
					      <option>PE</option>
					      <option>QC</option>
					      <option>SK</option>
					      <option>YT</option>
					    </select>
					</div>
					<div class="col-sm-6 mb-3">
						<label for="pCode">Postal Code:</label><br/>
						<input class="form-control" type="text" name="pCode" id="pCode" required="required" placeholder="Postal Code" onchange="checkPcode()">
						<div class="invalid-feedback">Please enter your postal code</div>
					</div>		
				</div>	

				<div class="text-left">
				<div class="form-check form-check-inline">
		  			<input class="form-check-input" type="checkbox" name="sendInfo" value="sendSpam" checked="checked">
		  			<label class="form-check-label" for="Spam">Send me advertising</label>
				</div>	<br/><br/>
				
		    	<label for="comments">Additional Comments:</label>
		    	<textarea class="form-control" id="addCom" rows="3"></textarea><br/><br/>
		    </div>
		  		
				<input class="btn btn-info" type="submit" value="Send Registration" onclick="return confirm('Please confirm all information is accurate upon submission')"/>
				<input class="btn btn-info" type="reset" value="Reset Form" onclick="return confirm('Do you really want to reset?')"/>
		</form>
</div>		
</div>
<script src="js/script.js"></script>	
<script src="js/validateForm.js"></script>	

{{!-- Script for formatting phone number input --}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="js/phoneFormatter.js"></script>
</body>
