@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

html,body{
  margin:0;
  height:100%;
  font-family: 'Josefin Sans', sans-serif;
}

body {
   background-image: url("..//media/plane1.jpg"); /* Photo by Matheus Frade on Unsplash */
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   
}
* {box-sizing: border-box;}

/* h1{
    text-align: center;
    box-shadow: 0 5px 10px rgba(90, 90, 90, .6);
    margin-top: 0;
    padding: 10px;
    background-color: #b6b6b6;
    margin-bottom: 50px;
} */

/*  navbar container inside the image */
.container {
  margin: 0;
  width: auto;
  width:100%;

}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
  
    width: 100%; 
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;

}

/* Package layout styles */
.packages-outer-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
    justify-content: center;
    column-gap: 100px;
    row-gap: 30px;
    margin-top: 30px;
}

.package-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    min-width: 300px;
    justify-content: center;
    box-shadow: 0 5px 10px grey;
    border-radius: 25px;
    overflow: hidden;
}

.package-image{
    width: 300px;
    height: 300px;
}

.package-details-grid{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(247,245,236,.9);
}

.package-desc {
    text-align: center;
} 

.package-name{
    font-size: x-large;
}

footer {
  width:100%;
  bottom: 0px;
  height: 36px;
  background-color: rgba(247,245,236,.9);
  display:flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 0 -5px 10px rgba(90, 90, 90, .6);
  margin-top: 30px;
}

/* colourizes input values */
input[name]{
  background-color:#B9EEFB;
}