@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

html,body{
  margin:0;
  height:100%;
  font-family: 'Josefin Sans', sans-serif;
}

body {

 /* font-family: tahoma;*/
  background-image: url("..//media/beach2.jpg"); /* */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.registrationForm {
  border-radius: 25px;
  padding: 20px ;
  margin-bottom: 30px;
  background-color: rgba(247,245,236,.9);
  text-align: center;
  overflow: hidden;
  position: relative;
}

.bg-input {
    background-color:#B9EEFB;
}

