/* defines jumbotron header */
.jumbotron{
	margin-top:15px;
	max-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: inherit;
  /* background-color: #D3D3D3; */
}


body {
  font-family: tahoma;
  background-image: url("..//media/jerBishop.jpg");
  background-size: cover;
  background-position: center;
}

.thankYou {
  border-radius: 25px; 
  padding: 20px ;
  margin-top:50px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}
