body {
  font-family: tahoma;
  background-image: url("/media/jerBishop.jpg");
  background-size: cover;
  background-position: center;
}

.thankYou {
  border-radius: 25px; 
  padding: 20px ;
  margin-top:50px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}
