/* defines jumbotron header */
.jumbotron{
  margin-top:15px;
  max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: inherit;
    background-color: #D3D3D3;
  }
/* defines body */
body {
  font-family: tacoma;
  background-image: url("..//media/leaves3.jpg");
  background-size: cover;
  background-position: center;
}
/* colourizes input values */
input[name]{
  background-color:#B9EEFB;
}
/* defines registration form */
.registrationForm {
  border-radius: 25px;
  padding: 20px ;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}
