
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}

a{
  text-decoration:none;
  display:flex;
  flex-wrap: wrap;
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:35vw;
  min-height:auto; /* [Eric] - changed from fixed height to ensure no extra space beneath on mobile*/
  max-height:1000px;
  min-width:100%;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
}

.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale:(1.0, 1.0);
  transform: translateZ(0);
  background:#1B2030 url(../../Media/mountains.jpg) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 10s ease-in-out 2s infinite;
  transition:all 0.6s ease-in-out;
  z-index:-2
}
/*
@media (max-width: 768px) {
	.header {
		animation: grow-760 10s ease-in-out 2s infinite; 
		transition:all 0.6s ease-in-out;
		z-index:-2
	}
}
@keyframes grow-768{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(300px)}
}*/

@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
@media (max-width: 576px) {
	.header:before{
		content:"";
		width:100%;
		height:200%;
		position:absolute;
		top:0;
		left:0;
			-webkit-backface-visibility: hidden;
			-webkit-transform: translateZ(0); backface-visibility: hidden;
		scale:(1.0, 1.0);
		transform: translateZ(0);
		background:#1B2030 url(../../Media/mountains.jpg) 50% 0 no-repeat;
		background-size:100%;
		background-attachment:fixed;
		animation: grow-576 10s ease-in-out 2s infinite;
		transition:all 0.6s ease-in-out;
		z-index:-2
	}
}
@keyframes grow-576{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-160px)}
}

.info{
  width:100%;
  padding:10% 0 10% 0;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.info h4, .meta{
  font-size:3vw
}
.info h1, .meta{
  font-size:5vw
}
.meta{
  font-style:italic;
}

.content{  
  padding:5% 5%;
  text-align:justify
}

.gallery {
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  /* [Eric] - set responsive size, then used grid to make children behave */
  /* This also fixed header issues */
  width:auto; 
  max-width: 1200px;
  min-width:300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  justify-items: center;
}
.img-c {
  width: 300px;
  height: 300px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.img-w img {
  display: none;
}

.img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
  /* transform: translateX(-50%); */
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}
