{{!-- Original jumbotron by [Susan], refactored into a partial by [Eric] --}}
<link rel="stylesheet" href="/css/jumbotron.css">

	<div class="jumbotron text-center"  style="margin:0 auto;">
		<div class="container">
  			<h1>{{Title}}</h1>
  			<p>{{Subtitle}}</p> 
  		</div>
	</div>