
<!-- [Susan] Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand active" href="/">Travel Experts<span class="sr-only">(current)</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">

	  <li class="nav-item">
		<a class="nav-link" href="contact">Contact Us</a>
	  </li>

	  <li class="nav-item">
		<a class="nav-link" href="register">Register</a></a>
	  </li>

	  <li class="nav-item">
		<a class="nav-link" href="packages">Travel Packages</a>
	  </li>

	</ul>
  </div>

</nav>
