
<!-- [Susan] Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="align-items: flex-start;">

  {{!-- This wrapper div fixes some existing layout problems - the expand button was showing up in the center of the screen originally as an element on its own,
  being laid out by the navbar's justify-content:space-between style. Now that these items are all div'd, they stick togehter on the left-hand side [Eric] --}}
  <div>
    <a class="navbar-brand active" href="/?skipIntro=true">Travel Experts<span class="sr-only">(current)</span></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
      <a class="nav-link" href="contact">Contact Us</a>
      </li>

      <li class="nav-item">
      <a class="nav-link" href="packages">Travel Packages</a>
      </li>

    </ul>
    </div>

  </div>

  

  <form name=logout-form class="form-inline" action="/logout" method="POST">
    <input class="form-control mr-sm-2" value="" name=logout required type="hidden">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
  </form>
</nav>
